[thermistor HT-NTC100K]
temperature1: 25.0 
resistance1: 100000.0 
beta: 4100

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 32
full_steps_per_rotation: 200
gear_ratio: 50:17
rotation_distance: 22.54
nozzle_diameter: 0.400
filament_diameter: 1.750
min_extrude_temp: 170
pressure_advance: 0.135 ;0.101 ;0.131 ;0.156 ; 0.182 0.314 0.2668
heater_pin: P2.7 
sensor_type: HT-NTC100K
sensor_pin: P0.24
max_extrude_only_distance: 1150
max_extrude_cross_section: 9999
#control: pid
#tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 260

########################################
# Extruder TMC2208 configuration
########################################
[tmc2208 extruder]
uart_pin: P1.4
run_current: 0.5
hold_current: 0.350
stealthchop_threshold: 0
sense_resistor: 0.110
interpolate: false
